header {
    display: flex;
    justify-content: flex-start;
    padding: 0 6%;
    padding-top: 68px;
    align-items: center;
    position: absolute;   
    @include tab{
        background-color: #fff;
        position:static;
        height: 70px;
        line-height:70px;
        padding-top: 0;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        position: fixed;
        z-index: 10;
    }
    nav{
        width: 30vw;
        z-index: 20;
      &:not(:first-child){
          color:#707070;
      }
      @include tab{
            background-color:rgba(255,255,255,0.9);
            position: fixed;
            top:0;
            right: -100%;
            width: 100%;
            height: 100%;
            z-index: 20;
            transition: .3s;
       
         
      }

      }
     
    .ham{
        
    @include tab{
        
         width: 16px;
        height: 14px;
        /*display: flex;
        flex-direction: column;
        justify-content: space-between;
       */
        span{
        height: 3px;
        background-color: #707070;
        width: 16px;
        position: absolute;
        right: 30px;
        top : calc((100% - 3px)/2);
        z-index: 40;
            // ここにデフォルト
        }
        span:last-child{
            width: 12px;
        }
    
      }   
    }  
}

// ここにハンバーガー非表示のクラス
.bar-top{
   transform: translateY(-6px); 
}

.bar-mid{

}

.bar-bottom{
    transform: translateY(6px);
    width: 12px;
}

// ここにハンバーガー表示のクラス
.menu--isOpen .bar-top{
    transform: rotate(45deg);
}

.menu--isOpen .bar-mid{
    
    transform: rotate(-45deg);
}

.menu--isOpen .bar-bottom{
    opacity:0;
    
}
.bar{
        background-color: black;
        height:1px;
        width: 4.8rem;
    }

   ul{
    list-style:none;
    display: flex;
    justify-content: space-between;
   
   } 
   li{
       font-size:18px;
       &:first-child{
           font-weight: bold;
       }
   }

   h1{
       font-size:38px;
       margin-right:20px;
       @include tab{
           font-size: 2.2rem;
       }
   }

 .hamburger{

            right: 0;
            width: 100vw;
            height: 100vh;
            color:#707070;
            position:absolute;
        }

.open{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #707070;
    padding-top: 30vh;
    
}

.open-menu{
    text-align:center;
     color: #707070;
}
/*
.open-list{
    position: relative;
        top: 35px; right: 20px;
    height: 20px;
    width: 50px;
    z-index: 30;
      top: 10px;
        -webkit-transform:rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
}
.open-mid{
        position: relative;
        top: 30px; right: 20px;
        height: 20px;
         width: 50px;
        margin-bottom: 20px;
        z-index: 3;
        top: 10px;
        -webkit-transform: rotate(45deg);
        -moz-transform   : rotate(45deg);
        transform        : rotate(45deg);    
    }
*/
.open-bottom{
    display:none;
}

a{
    text-decoration: none;
    color: #707070;
}
